@model LES.Models.ViewModel.Conta.PaginaLoginModel

<div id="divUsername" class="form-group">
    <label asp-for="Username" class="control-label"></label>
    <input asp-for="Username" class="form-control required" type="text" />
    <span asp-validation-for="Username" class="text-danger"></span>
</div>
<div id="divSenha" class="form-group">
    <label asp-for="Senha" class="control-label"></label>
    <input asp-for="Senha" class="form-control required" type="password" />
    <span asp-validation-for="Senha" class="text-danger"></span>
</div>