@model LES.Models.ViewModel.Home.IndexModel

@{
    ViewData["Title"] = "Descrição";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/Shared/Descricao.css" />
<div class="container back-color">
    <div class="row">
        <div class="col-5 back-color text-center">
            <img src="~/img/the-Winds-of-Winter-cover.jpg" class="img-fluid"/>
        </div>
        <div class="col-7 mt-lg-3">
            <div class="container">
                <div class="row row-title">
                    <div class="col-12 align-content-lg-start">
                        <span class="text1">The Winds of Winter</span>
                    </div>
                </div>
                <div class="row row-title">
                    <div class="col-12 back-color2 align-content-lg-start">
                        <span class="text2">George R.R Martin</span>
                    </div>
                </div>
                <div class="row row-texto">
                    <div class="col-12">
                        Em um novo post do blog pessoal, George R. R. Martin, autor de As Crônicas de Gelo e Fogo, refletiu sobre o ano que se passou, a pandemia, perdas pessoais, eleições americanas e também comentou sobre The Winds of Winter (Os Ventos do Inverno em tradução livre; o título oficial ainda não foi anunciado no Brasil), o sexto livro da saga.
                    </div>
                </div>
                <div class="row row-btn">
                    <div class="col-12 text-center">
                        <button type="button" class="btn-carrinho carrinho" onclick="window.location.href='@Url.Action("Carrinho","Carrinho")'">COLOCAR NO CARRINHO</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>