@model LES.Models.ViewModel.Livros.PaginaLojaModel

@{
    ViewData["Title"] = "SóRaiva Livros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row no-gutters">
    <div class="container-fluid">
        <div class="row">
            <div id="sidebar" class="col-md-3 sticky-top border-right" style="height:6rem; top:10%">
                <partial name="../Livros/PartialViews/_LojaFiltroSidebarPartial.cshtml" for="Filtros">
            </div>
            <div id="divLoja" class="col-md-9 div-loja">
                <partial name="../Shared/_ListaLivrosCardPartial.cshtml" for="Livros">
            </div>
        </div>
    </div>

</div>

@section Scripts{

    <script type="text/javascript">
        var urls = urls || {};
        urls.Pesquisar = '@Url.Action("Pesquisa", "Livros")';
        urls.AddCarrinho = '@Url.Action("_AddToCarrinho", "CarrinhoCompra")';
    </script>
    <script src="~/js/Shared/AddToCarrinho.js"></script>
    <script src="~/js/Livros/CarregarPesquisa.js"></script>
}
