@model LES.Models.ViewModel.Livros.LojaModel

@{
    ViewData["Title"] = "SóRaiva Livros";
}

<link rel="stylesheet" href="~/css/Shared/Sidebar.css" />
<link rel="stylesheet" href="~/css/Shared/CardsStyle.css" />

<div class="conteudo container-fluid">
    <div class="sidebar">
        <partial name="../Livros/PartialViews/_LojaFiltroSidebarPartial.cshtml" for="Filtros">
    </div>
    <div style="margin-left:20%">
        <partial name="_ListaLivrosCardPartial" for="Livros">
    </div>
</div>

<script>
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>
