@model LES.Models.ViewModel.Carrinho.CarrinhoModel


    <div class="container dropdown-item">
        <div>
            <h3 class="font-weight-light">Carrinho de compras</h3>
        </div>
            @foreach (var item in Model.Livros) { 
                <table class="table table-borderless">
                    <tbody>
                        <partial name="_ItemCarrinhoPartial" for="@item">
                    </tbody>
                </table>    
            }
        </div>
        <div class="dropdown-divider"></div>
        <div class="container">
            <div class="row justify-content-end">
                <h6 class="text-muted col-4">Preço:</h6><h5 class="text-left mr-3">R$ @Model.PrecoTotal.ToString("0.00")</h5>
            </div>
            <div class="row justify-content-center">
                <button type="button" class="btn btn-outline-success col-11" onclick="window.location.href='@Url.Action("Comprar","Livros")'" style="font-size:0.75rem">Confirmar compra</button>
            </div>
    </div>
