@model LES.Models.ViewModel.Carrinho.CarrinhoLivroModel

    <td>
        <img src="~/img/the-Winds-of-Winter-cover.jpg" class="capa-carrinho" />
    </td>
    <td>
        <div class=""><h5>@Model.Titulo</h5></div>
        <div class="font-weight-lighter"><h6>@Model.Autor</h6></div>
    </td>
    <td>
        <div class=""><h6>R$ @Model.Preco.ToString("0.00")</h6></div>
        <div class="font-weight-lighter"><h4>x @Model.Quantia</h4></div>
    </td>
    <td>
        <button class="btn btn-light carrinho-update">+</button>
        <button class="btn btn-light carrinho-update">-</button>
    </td>
    <td>
        <button class="btn btn-danger carrinho-update">&times;</button>
    </td>
