@model LES.Models.ViewModel.Shared.ListaCardLivrosModel

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="container my-1">
        <div class="row">
            @if (Model != null)
            {
                @foreach (var livro in Model.Livros)
                {
                    <partial name="_LivroCardPartial" for="@livro" />
                }
            }
        </div>
        <div class="row">
            <nav aria-label="Paginação">
                <ul class="pagination justify-content-center"">
                    <li class="page-item @if (Model.PagAtual == 1) {<text> disabled </text> }">
                        <a class="page-link" href="" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Anterior</span>
                        </a>
                    </li>
                    @for(int i = 1; i <= Model.PagMax; i++) {
                        <li class="page-item @if (i == Model.PagAtual) {<text> active </text> } ">
                            <a class="page-link" href="#"> @i </a>
                        </li>
                    }
                    <li class="page-item @if (Model.PagAtual == Model.PagMax) {<text> disabled </text> }">
                        <a class="page-link" href="" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Próxima</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>