@model LES.Models.ViewModel.Livros.PaginaLojaModel

@{
    ViewData["Title"] = "SóRaiva Livros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row no-gutters">
    <div class="container-fluid">
        <div class="row">
            <div id="sidebar" class="col-md-3 sticky-top border-right" style="height:6rem; top:10%">
                <partial name="../Livros/PartialViews/_LojaFiltroSidebarPartial.cshtml" for="Filtros">
            </div>

            <div class="col-md-9">
                <div class="row">
                    <partial name="_ListaLivrosCardPartial" for="Livros" />
                </div>
                <div class="row justify-content-center">
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{

}
