@model LES.Models.Entity.Cliente

@{
    ViewData["Title"] = "Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/CreateCliente.css" rel="stylesheet" />

<h1>@ViewBag.Title</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-9">
        <form asp-action="Create" asp-controller="Clientes">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h2>Informações Pessoais</h2>
            <div class=" col-md-6">
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DtNascimento" class="control-label"></label>
                    <input asp-for="DtNascimento" class="form-control" type="date" />
                    <span asp-validation-for="DtNascimento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Genero" class="control-label"></label>
                    <select asp-for="Genero" class="form-control" asp-items="Html.GetEnumSelectList<LES.Models.Entity.Genero>()">
                    </select>
                    <span asp-validation-for="Genero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Login.Email" class="control-label"></label>
                    <input asp-for="Login.Email" class="form-control" />
                    <span asp-validation-for="Login.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Login.Senha" class="control-label"></label>
                    <input asp-for="Login.Senha" class="form-control" id="senha" type="password" />
                    <span asp-validation-for="Login.Senha" class="text-danger"></span>
                    <small id="requisitosSenha">A senha deve conter:</small>
                    <ul>
                        <li id="caracteres"> <small>Pelo menos 8 caracteres.</small></li>
                        <li id="maiusculas"> <small>Letras maiúsculas.</small></li>
                        <li id="minusculas"> <small>Letras minúsculas.</small></li>
                        <li id="especiais"> <small>Símbolos especiais.</small></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label class="control-label">Confirmação de senha</label>
                    <input class="form-control" id="senhaConfirmacao" type="password" disabled />
                </div>
                <div class="form-group">
                    <label asp-for="Cpf" class="control-label"></label>
                    <input asp-for="Cpf" class="form-control" />
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                </div>
            </div>

            <h2>Endereços</h2>
            <div class="secaoForm enderecos">
                <div><h3>Endereço de Residencia</h3></div>
                <div class="secaoForm">
                    <div class="form-group">

                        <div class="form-group">

                            <label asp-for="EnderecoResidencia.TipoEndereco" id="labelTipo" class="control-label"></label>
                            <select asp-for="EnderecoResidencia.TipoEndereco" class="form-control" asp-items="Html.GetEnumSelectList<LES.Models.Entity.TipoEndereco>()">
                            </select>
                            <span asp-validation-for="EnderecoResidencia.TipoEndereco" class="text-danger"></span>

                        </div>

                        <div class="form-group">
                            <div class="logradouro">
                                <label asp-for="EnderecoResidencia.Logradouro" id="labelLogradouro" class="control-label"></label>
                                <input asp-for="EnderecoResidencia.Logradouro" class="form-control" />
                                <span asp-validation-for="EnderecoResidencia.Logradouro" class="text-danger"></span>
                            </div>
                            <div class="numero">
                                <label asp-for="EnderecoResidencia.Numero" id="labelNumero" class="control-label"></label>
                                <input asp-for="EnderecoResidencia.Numero" class="form-control" />
                                <span asp-validation-for="EnderecoResidencia.Numero" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="EnderecoResidencia.Complemento" id="labelComplemento" class="control-label"></label>
                            <input asp-for="EnderecoResidencia.Complemento" class="form-control" />
                            <span asp-validation-for="EnderecoResidencia.Complemento" class="text-danger"></span>
                        </div>

                        <div>
                            <div class="form-group cidadeCepEstado">
                                <label asp-for="EnderecoResidencia.Cep" id="labelCep" class="control-label"></label>
                                <input asp-for="EnderecoResidencia.Cep" class="form-control" />
                                <span asp-validation-for="EnderecoResidencia.Cep" class="text-danger"></span>
                            </div>
                            <div class="form-group cidadeCepEstado">
                                <label asp-for="EnderecoResidencia.Cidade" id="labelCidade" class="control-label"></label>
                                <input asp-for="EnderecoResidencia.Cidade.Nome" class="form-control" />
                                <span asp-validation-for="EnderecoResidencia.Cidade.Nome" class="text-danger"></span>
                            </div>
                            <div class="form-group estado">
                                <label asp-for="EnderecoResidencia.Cidade.Estado" id="labelEstado" class="control-label"></label>
                                <input asp-for="EnderecoResidencia.Cidade.Estado.Nome" class="form-control" />
                                <span asp-validation-for="EnderecoResidencia.Cidade.Estado.Nome" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="EnderecoResidencia.Cidade.Estado.Pais" id="labelPais" class="control-label"></label>
                                <input asp-for="EnderecoResidencia.Cidade.Estado.Pais.Nome" class="form-control" />
                                <span asp-validation-for="EnderecoResidencia.Cidade.Estado.Pais.Nome" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="EnderecoResidencia.Observacoes" id="labelObservacoes" class="control-label"></label>
                            <input asp-for="EnderecoResidencia.Observacoes" class="form-control" />
                            <span asp-validation-for="EnderecoResidencia.Observacoes" class="text-danger"></span>
                        </div>

                    </div>
                </div>
                <div><h3>Endereços de Cobrança</h3></div>
                <div class="secaoForm">
                    <div class="form-group" id="Cobranca">

                        <div class="endereco">
                            <h4>Endereço 1</h4>

                            <div class="form-group">

                                <label asp-for="EnderecosCobranca[0].TipoEndereco" class="control-label"></label>
                                <select asp-for="EnderecosCobranca[0].TipoEndereco" class="form-control" asp-items="Html.GetEnumSelectList<LES.Models.Entity.TipoEndereco>()">
                                </select>
                                <span asp-validation-for="EnderecosCobranca[0].TipoEndereco" class="text-danger"></span>

                            </div>

                            <div class="form-group">
                                <div class="logradouro">
                                    <label asp-for="EnderecosCobranca[0].Logradouro" class="control-label"></label>
                                    <input asp-for="EnderecosCobranca[0].Logradouro" class="form-control" />
                                    <span asp-validation-for="EnderecosCobranca[0].Logradouro" class="text-danger"></span>
                                </div>
                                <div class="numero">
                                    <label asp-for="EnderecosCobranca[0].Numero" class="control-label"></label>
                                    <input asp-for="EnderecosCobranca[0].Numero" class="form-control" />
                                    <span asp-validation-for="EnderecosCobranca[0].Numero" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="EnderecosCobranca[0].Complemento" class="control-label"></label>
                                <input asp-for="EnderecosCobranca[0].Complemento" class="form-control" />
                                <span asp-validation-for="EnderecosCobranca[0].Complemento" class="text-danger"></span>
                            </div>

                            <div>
                                <div class="form-group cidadeCepEstado">
                                    <label asp-for="EnderecosCobranca[0].Cep" class="control-label"></label>
                                    <input asp-for="EnderecosCobranca[0].Cep" class="form-control" />
                                    <span asp-validation-for="EnderecosCobranca[0].Cep" class="text-danger"></span>
                                </div>
                                <div class="form-group cidadeCepEstado">
                                    <label asp-for="EnderecosCobranca[0].Cidade" class="control-label"></label>
                                    <input asp-for="EnderecosCobranca[0].Cidade.Nome" class="form-control" />
                                    <span asp-validation-for="EnderecosCobranca[0].Cidade.Nome" class="text-danger"></span>
                                </div>
                                <div class="form-group estado">
                                    <label asp-for="EnderecosCobranca[0].Cidade.Estado" class="control-label"></label>
                                    <input asp-for="EnderecosCobranca[0].Cidade.Estado.Nome" class="form-control" />
                                    <span asp-validation-for="EnderecosCobranca[0].Cidade.Estado.Nome" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="EnderecosCobranca[0].Cidade.Estado.Pais" class="control-label"></label>
                                    <input asp-for="EnderecosCobranca[0].Cidade.Estado.Pais.Nome" class="form-control" />
                                    <span asp-validation-for="EnderecosCobranca[0].Cidade.Estado.Pais.Nome" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="EnderecosCobranca[0].Observacoes" class="control-label"></label>
                                <input asp-for="EnderecosCobranca[0].Observacoes" class="form-control" />
                                <span asp-validation-for="EnderecosCobranca[0].Observacoes" class="text-danger"></span>
                            </div>

                        </div>
                        @if (Model.EnderecosCobranca != null)
                        {
                            @if (Model.EnderecosCobranca.Count() > 1)
                            {

                                for (int i = 1; i <= Model.EnderecosCobranca.Count(); i++)
                                {
                                    <div class="endereco">
                                        <h4>Endereço @(i+1)</h4>
                                        <button name="ApagarEndereco" class="btn btn-rmv">Apagar endereço</button>

                                        <div class="form-group">

                                            <label asp-for="EnderecosCobranca[i].TipoEndereco" class="control-label"></label>
                                            <select asp-for="EnderecosCobranca[i].TipoEndereco" class="form-control" asp-items="Html.GetEnumSelectList<LES.Models.Entity.TipoEndereco>()">
                                            </select>
                                            <span asp-validation-for="EnderecosCobranca[i].TipoEndereco" class="text-danger"></span>

                                        </div>

                                        <div class="form-group">
                                            <div class="logradouro">
                                                <label asp-for="EnderecosCobranca[i].Logradouro" class="control-label"></label>
                                                <input asp-for="EnderecosCobranca[0].Logradouro" class="form-control" />
                                                <span asp-validation-for="EnderecosCobranca[0].Logradouro" class="text-danger"></span>
                                            </div>
                                            <div class="numero">
                                                <label asp-for="EnderecosCobranca[i].Numero" class="control-label"></label>
                                                <input asp-for="EnderecosCobranca[i].Numero" class="form-control" />
                                                <span asp-validation-for="EnderecosCobranca[i].Numero" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="EnderecosCobranca[i].Complemento" class="control-label"></label>
                                            <input asp-for="EnderecosCobranca[i].Complemento" class="form-control" />
                                            <span asp-validation-for="EnderecosCobranca[i].Complemento" class="text-danger"></span>
                                        </div>

                                        <div>
                                            <div class="form-group cidadeCepEstado">
                                                <label asp-for="EnderecosCobranca[i].Cep" class="control-label"></label>
                                                <input asp-for="EnderecosCobranca[i].Cep" class="form-control" />
                                                <span asp-validation-for="EnderecosCobranca[i].Cep" class="text-danger"></span>
                                            </div>
                                            <div class="form-group cidadeCepEstado">
                                                <label asp-for="EnderecosCobranca[i].Cidade" class="control-label"></label>
                                                <input asp-for="EnderecosCobranca[i].Cidade.Nome" class="form-control" />
                                                <span asp-validation-for="EnderecosCobranca[i].Cidade.Nome" class="text-danger"></span>
                                            </div>
                                            <div class="form-group estado">
                                                <label asp-for="EnderecosCobranca[i].Cidade.Estado" class="control-label"></label>
                                                <input asp-for="EnderecosCobranca[i].Cidade.Estado.Nome" class="form-control" />
                                                <span asp-validation-for="EnderecosCobranca[i].Cidade.Estado.Nome" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="EnderecosCobranca[i].Cidade.Estado.Pais" class="control-label"></label>
                                                <input asp-for="EnderecosCobranca[i].Cidade.Estado.Pais.Nome" class="form-control" />
                                                <span asp-validation-for="EnderecosCobranca[i].Cidade.Estado.Pais.Nome" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="EnderecosCobranca[0].Observacoes" class="control-label"></label>
                                            <input asp-for="EnderecosCobranca[0].Observacoes" class="form-control" />
                                            <span asp-validation-for="EnderecosCobranca[0].Observacoes" class="text-danger"></span>
                                        </div>
                                    </div>

                                }

                            }
                        }


                        <button type="button" id="btnAddCobranca" class="btn btn-outline-secondary btn-add">Adicionar novo endereço de cobrança</button>
                    </div>
                        </div>
                <div><h3>Endereços de Entrega</h3></div>
                <div class="secaoForm">
                    <div class="form-group" id="Entrega">

                        <div class="endereco">
                            <h4>Endereço 1</h4>
                            <div class="form-group">

                                <label asp-for="EnderecosEntrega[0].TipoEndereco" class="control-label"></label>
                                <select asp-for="EnderecosEntrega[0].TipoEndereco" class="form-control" asp-items="Html.GetEnumSelectList<LES.Models.Entity.TipoEndereco>()">
                                </select>
                                <span asp-validation-for="EnderecosEntrega[0].TipoEndereco" class="text-danger"></span>

                            </div>

                            <div class="form-group">
                                <div class="logradouro">
                                    <label asp-for="EnderecosEntrega[0].Logradouro" class="control-label"></label>
                                    <input asp-for="EnderecosEntrega[0].Logradouro" class="form-control" />
                                    <span asp-validation-for="EnderecosEntrega[0].Logradouro" class="text-danger"></span>
                                </div>
                                <div class="numero">
                                    <label asp-for="EnderecosEntrega[0].Numero" class="control-label"></label>
                                    <input asp-for="EnderecosEntrega[0].Numero" class="form-control" />
                                    <span asp-validation-for="EnderecosEntrega[0].Numero" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="EnderecosEntrega[0].Complemento" class="control-label"></label>
                                <input asp-for="EnderecosEntrega[0].Complemento" class="form-control" />
                                <span asp-validation-for="EnderecosEntrega[0].Complemento" class="text-danger"></span>
                            </div>

                            <div>
                                <div class="form-group cidadeCepEstado">
                                    <label asp-for="EnderecosEntrega[0].Cep" class="control-label"></label>
                                    <input asp-for="EnderecosEntrega[0].Cep" class="form-control" />
                                    <span asp-validation-for="EnderecosEntrega[0].Cep" class="text-danger"></span>
                                </div>
                                <div class="form-group cidadeCepEstado">
                                    <label asp-for="EnderecosEntrega[0].Cidade" class="control-label"></label>
                                    <input asp-for="EnderecosEntrega[0].Cidade.Nome" class="form-control" />
                                    <span asp-validation-for="EnderecosEntrega[0].Cidade.Nome" class="text-danger"></span>
                                </div>
                                <div class="form-group estado">
                                    <label asp-for="EnderecosEntrega[0].Cidade.Estado" class="control-label"></label>
                                    <input asp-for="EnderecosEntrega[0].Cidade.Estado.Nome" class="form-control" />
                                    <span asp-validation-for="EnderecosEntrega[0].Cidade.Estado.Nome" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="EnderecosEntrega[0].Cidade.Estado.Pais" class="control-label"></label>
                                    <input asp-for="EnderecosEntrega[0].Cidade.Estado.Pais.Nome" class="form-control" />
                                    <span asp-validation-for="EnderecosEntrega[0].Cidade.Estado.Pais.Nome" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="EnderecosEntrega[0].Observacoes" class="control-label"></label>
                                <input asp-for="EnderecosEntrega[0].Observacoes" class="form-control" />
                                <span asp-validation-for="EnderecosEntrega[0].Observacoes" class="text-danger"></span>
                            </div>
                        </div>

                        @if (Model.EnderecosEntrega != null)
                        {
                            @if (Model.EnderecosEntrega.Count() > 1)
                            {

                                for (int i = 1; i <= Model.EnderecosEntrega.Count(); i++)
                                {

                                    <h4>Endereço @(i+1)</h4>
                                    <button name="ApagarEndereco" class="btn btn-rmv">Apagar endereço</button>

                                    <div class="form-group">
                                        <label asp-for="EnderecosEntrega[i].TipoEndereco" class="control-label"></label>
                                        <select asp-for="EnderecosEntrega[i].TipoEndereco" class="form-control" asp-items="Html.GetEnumSelectList<LES.Models.Entity.TipoEndereco>()">
                                        </select>
                                        <span asp-validation-for="EnderecosEntrega[i].TipoEndereco" class="text-danger"></span>

                                    </div>

                                    <div class="form-group">
                                        <div class="logradouro">
                                            <label asp-for="EnderecosEntrega[i].Logradouro" class="control-label"></label>
                                            <input asp-for="EnderecosEntrega[i].Logradouro" class="form-control" />
                                            <span asp-validation-for="EnderecosEntrega[i].Logradouro" class="text-danger"></span>
                                        </div>
                                        <div class="numero">
                                            <label asp-for="EnderecosEntrega[i].Numero" class="control-label"></label>
                                            <input asp-for="EnderecosEntrega[i].Numero" class="form-control" />
                                            <span asp-validation-for="EnderecosEntrega[i].Numero" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="EnderecosEntrega[i].Complemento" class="control-label"></label>
                                        <input asp-for="EnderecosEntrega[i].Complemento" class="form-control" />
                                        <span asp-validation-for="EnderecosEntrega[i].Complemento" class="text-danger"></span>
                                    </div>

                                    <div>
                                        <div class="form-group cidadeCepEstado">
                                            <label asp-for="EnderecosEntrega[i].Cep" class="control-label"></label>
                                            <input asp-for="EnderecosEntrega[i].Cep" class="form-control" />
                                            <span asp-validation-for="EnderecosEntrega[i].Cep" class="text-danger"></span>
                                        </div>
                                        <div class="form-group cidadeCepEstado">
                                            <label asp-for="EnderecosEntrega[i].Cidade" class="control-label"></label>
                                            <input asp-for="EnderecosEntrega[i].Cidade.Nome" class="form-control" />
                                            <span asp-validation-for="EnderecosEntrega[i].Cidade.Nome" class="text-danger"></span>
                                        </div>
                                        <div class="form-group estado">
                                            <label asp-for="EnderecosEntrega[i].Cidade.Estado" class="control-label"></label>
                                            <input asp-for="EnderecosEntrega[i].Cidade.Estado.Nome" class="form-control" />
                                            <span asp-validation-for="EnderecosEntrega[i].Cidade.Estado.Nome" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="EnderecosEntrega[i].Cidade.Estado.Pais" class="control-label"></label>
                                            <input asp-for="EnderecosEntrega[i].Cidade.Estado.Pais.Nome" class="form-control" />
                                            <span asp-validation-for="EnderecosEntrega[i].Cidade.Estado.Pais.Nome" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="EnderecosEntrega[i].Observacoes" class="control-label"></label>
                                        <input asp-for="EnderecosEntrega[i].Observacoes" class="form-control" />
                                        <span asp-validation-for="EnderecosEntrega[i].Observacoes" class="text-danger"></span>
                                    </div>
                                }
                            }
                        }

                        <button type="button" id="btnAddEntrega" class="btn btn-outline-secondary btn-add">Adicionar novo endereço de entrega</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" id="btn" disabled />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">À listagem</a>
</div>

@section Scripts
{
    <script src="~/js/GerenciadorEnderecos.js"></script>
    <script src="~/js/ValSenhaCliente.js"></script>
}
