@model LES.Models.ViewModel.ClienteCadastro

@{
    ViewData["Title"] = "EditarSenha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar Senha</h1>

<form asp-action="EditarSenha" asp-controller="Clientes">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h2>Senha</h2>
    <div class=" col-md-6">

        <div class="form-group" hidden>
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
        </div>

        @Html.Partial("_SenhaPartial", Model)

        <div class="form-group">
            <input type="submit" value="Aterar senha" class="btn btn-primary" id="btn" />
        </div>
    </div>


</form>

@section Scripts{
    <script src="~/js/ValSenhaCliente.js"></script>
    <script src="~/js/ClientePrevenirCadastro.js"></script>
    <script src="~/js/ValRequired.js"></script>
}
