@model DetalhesEnderecoModel
<div class="modal-content">

    <!-- Modal content-->
    <div class="modal-header">
        <h4 class="modal-title">Adicionar Novo Endereço</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <form asp-action="AdicionarNovoEndereco" asp-controller="Carrinho">

            <div>
                <label asp-for="NomeEndereco" class="control-label"></label>
                <input asp-for="NomeEndereco" class="form-control required" />
                <span asp-validation-for="NomeEndereco" class="text-danger required"></span>
            </div>

            <partial name="../PartialViews/_EnderecoPartial.cshtml" for="@Model" />

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="form-check form-switch form-check-inline">
                            <input asp-for="EPreferencial" class="form-check-input required" />
                            <label asp-for="EPreferencial" class="form-check-label"></label>
                            <span asp-validation-for="EPreferencial" class="text-danger required"></span>
                        </div>

                        <div class="form-check form-switch form-check-inline">
                            <input asp-for="ECobranca" class="form-control required" />
                            <label asp-for="ECobranca" class="form-check-label"></label>
                            <span asp-validation-for="ECobranca" class="text-danger required"></span>
                        </div>

                        <div class="form-check form-switch form-check-inline">
                            <input asp-for="EEntrega" class="form-control required" />
                            <label asp-for="EEntrega" class="form-check-label"></label>
                            <span asp-validation-for="EEntrega" class="text-danger required"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Cadastrar" class="btn btn-primary" id="btn" />
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    </div>

</div>
