@model LES.Models.ViewModel.Home.PaginaIndexModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Shared/CardsStyle.css" />

<div class="text-center">
    <h1 class="display-4">Livraria SóRaiva.</h1>
    <h5>Em homenagem à Faculdade de Tecnologia de Mogi das Cruzes.</h5>
</div>

