@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Livraria SóRaiva.</h1>
    <h5>Em homenagem à Faculdade de Tecnologia de Mogi das Cruzes.</h5>
    <div class="container mb-5 mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="card mt-3">
                    <div class="product-1 align-items-center p-2 text-center">
                        <img src="~/imgs/the-winds-of-winter-cover.jpg" class="rounded" width="160" />
                        <h5>The Winds of Winter</h5>
                        <div class="mt-3 info">
                            <span class="text1 d-block">
                                The Winds of Winter (Os Ventos do Inverno) é o sexto livro de As Crônicas de Gelo e Fogo, de George R. R. Martin.
                            </span>
                            <div class="cost mt-3 text-dark">
                                <span>R$ 350,52</span>
                            </div>
                            <div class="star mt-3 align-items-center">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="p-3 shoe text-center text-white mt-3 cursor">
                        <span class="text-uppercase">Descrição</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mt-3">
                    <div class="product-1 align-items-center p-2 text-center">
                        <img src="~/imgs/the-winds-of-winter-cover.jpg" class="rounded" width="160" />
                        <h5>The Winds of Winter</h5>
                        <div class="mt-3 info">
                            <span class="text1 d-block">
                                The Winds of Winter (Os Ventos do Inverno) é o sexto livro de As Crônicas de Gelo e Fogo, de George R. R. Martin.
                            </span>
                            <div class="cost mt-3 text-dark">
                                <span>R$ 350,52</span>
                            </div>
                            <div class="star mt-3 align-items-center">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="p-3 shoe text-center text-white mt-3 cursor">
                        <span class="text-uppercase">Descrição</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mt-3">
                    <div class="product-1 align-items-center p-2 text-center">
                        <img src="~/imgs/the-winds-of-winter-cover.jpg" class="rounded" width="160" />
                        <h5>The Winds of Winter</h5>
                        <div class="mt-3 info">
                            <span class="text1 d-block">
                                The Winds of Winter (Os Ventos do Inverno) é o sexto livro de As Crônicas de Gelo e Fogo, de George R. R. Martin.
                            </span>
                            <div class="cost mt-3 text-dark">
                                <span>R$ 350,52</span>
                            </div>
                            <div class="star mt-3 align-items-center">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="p-3 shoe text-center text-white mt-3 cursor">
                        <span class="text-uppercase">Descrição</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mt-3">
                    <div class="product-1 align-items-center p-2 text-center">
                        <img src="~/imgs/the-winds-of-winter-cover.jpg" class="rounded" width="160" />
                        <h5>The Winds of Winter</h5>
                        <div class="mt-3 info">
                            <span class="text1 d-block">
                                The Winds of Winter (Os Ventos do Inverno) é o sexto livro de As Crônicas de Gelo e Fogo, de George R. R. Martin.
                            </span>
                            <div class="cost mt-3 text-dark">
                                <span>R$ 350,52</span>
                            </div>
                            <div class="star mt-3 align-items-center">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="p-3 shoe text-center text-white mt-3 cursor">
                        <span class="text-uppercase">Descrição</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mt-3">
                    <div class="product-1 align-items-center p-2 text-center">
                        <img src="~/imgs/the-winds-of-winter-cover.jpg" class="rounded" width="160" />
                        <h5>The Winds of Winter</h5>
                        <div class="mt-3 info">
                            <span class="text1 d-block">
                                The Winds of Winter (Os Ventos do Inverno) é o sexto livro de As Crônicas de Gelo e Fogo, de George R. R. Martin.
                            </span>
                            <div class="cost mt-3 text-dark">
                                <span>R$ 350,52</span>
                            </div>
                            <div class="star mt-3 align-items-center">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="p-3 shoe text-center text-white mt-3 cursor">
                        <span class="text-uppercase">Descrição</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mt-3">
                    <div class="product-1 align-items-center p-2 text-center">
                        <img src="~/imgs/the-winds-of-winter-cover.jpg" class="rounded" width="160" />
                        <h5>The Winds of Winter</h5>
                        <div class="mt-3 info">
                            <span class="text1 d-block">
                                The Winds of Winter (Os Ventos do Inverno) é o sexto livro de As Crônicas de Gelo e Fogo, de George R. R. Martin.
                            </span>
                            <div class="cost mt-3 text-dark">
                                <span>R$ 350,52</span>
                            </div>
                            <div class="star mt-3 align-items-center">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="p-3 shoe text-center text-white mt-3 cursor">
                        <span class="text-uppercase">Descrição</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mt-3">
                    <div class="product-1 align-items-center p-2 text-center">
                        <img src="~/imgs/the-winds-of-winter-cover.jpg" class="rounded" width="160" />
                        <h5>The Winds of Winter</h5>
                        <div class="mt-3 info">
                            <span class="text1 d-block">
                                The Winds of Winter (Os Ventos do Inverno) é o sexto livro de As Crônicas de Gelo e Fogo, de George R. R. Martin.
                            </span>
                            <div class="cost mt-3 text-dark">
                                <span>R$ 350,52</span>
                            </div>
                            <div class="star mt-3 align-items-center">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="p-3 shoe text-center text-white mt-3 cursor">
                        <span class="text-uppercase">Descrição</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mt-3">
                    <div class="product-1 align-items-center p-2 text-center">
                        <img src="~/imgs/the-winds-of-winter-cover.jpg" class="rounded" width="160" />
                        <h5>The Winds of Winter</h5>
                        <div class="mt-3 info">
                            <span class="text1 d-block">
                                The Winds of Winter (Os Ventos do Inverno) é o sexto livro de As Crônicas de Gelo e Fogo, de George R. R. Martin.
                            </span>
                            <div class="cost mt-3 text-dark">
                                <span>R$ 350,52</span>
                            </div>
                            <div class="star mt-3 align-items-center">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                    <div class="p-3 shoe text-center text-white mt-3 cursor">
                        <span class="text-uppercase">Descrição</span>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

