@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Shared/Sidebar.css" />
<link rel="stylesheet" href="~/css/Shared/CardsStyle.css" />
<div class="container-fluid">
    <nav class="sidebar1">
        <ul>
            <button class="dropdown-btn active">
                Categoria
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="#">Terror</a>
                <a href="#">Fantasia</a>
                <a href="#">Aventura</a>
            </div>
            <button class="dropdown-btn active">
                Autor
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container">
                <a href="#">George R. R. Martin</a>
                <a href="#">J. R. R. Tolkien</a>
                <a href="#">J. K. Rowling</a>
                <a href="#">Stephen King</a>
            </div>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card mt-3">
                    <div class="product-1 align-items-center p-2 text-center">
                        <img src="~/img/the-Winds-of-Winter-cover.jpg" class="rounded" width="160" />
                        <h5>The Winds of Winter</h5>
                        <div class="mt-3 info">
                            <span class="text1 d-block">
                                The Winds of Winter (Os Ventos do Inverno) é o sexto livro de As Crônicas de Gelo e Fogo, de George R. R. Martin.
                            </span>
                            <div class="cost mt-3 text-dark">
                                <span>R$ 350,52</span>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn-descricao descricao">SAIBA MAIS</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mt-3">
                    <div class="product-1 align-items-center p-2 text-center">
                        <img src="~/img/the-Winds-of-Winter-cover.jpg" class="rounded" width="160" />
                        <h5>The Winds of Winter</h5>
                        <div class="mt-3 info">
                            <span class="text1 d-block">
                                The Winds of Winter (Os Ventos do Inverno) é o sexto livro de As Crônicas de Gelo e Fogo, de George R. R. Martin.
                            </span>
                            <div class="cost mt-3 text-dark">
                                <span>R$ 350,52</span>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn-descricao descricao">SAIBA MAIS</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mt-3">
                    <div class="product-1 align-items-center p-2 text-center">
                        <img src="~/img/the-Winds-of-Winter-cover.jpg" class="rounded" width="160" />
                        <h5>The Winds of Winter</h5>
                        <div class="mt-3 info">
                            <span class="text1 d-block">
                                The Winds of Winter (Os Ventos do Inverno) é o sexto livro de As Crônicas de Gelo e Fogo, de George R. R. Martin.
                            </span>
                            <div class="cost mt-3 text-dark">
                                <span>R$ 350,52</span>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn-descricao descricao">SAIBA MAIS</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mt-3">
                    <div class="product-1 align-items-center p-2 text-center">
                        <img src="~/img/the-Winds-of-Winter-cover.jpg" class="rounded" width="160" />
                        <h5>The Winds of Winter</h5>
                        <div class="mt-3 info">
                            <span class="text1 d-block">
                                The Winds of Winter (Os Ventos do Inverno) é o sexto livro de As Crônicas de Gelo e Fogo, de George R. R. Martin.
                            </span>
                            <div class="cost mt-3 text-dark">
                                <span>R$ 350,52</span>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn-descricao descricao">SAIBA MAIS</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mt-3">
                    <div class="product-1 align-items-center p-2 text-center">
                        <img src="~/img/the-Winds-of-Winter-cover.jpg" class="rounded" width="160" />
                        <h5>The Winds of Winter</h5>
                        <div class="mt-3 info">
                            <span class="text1 d-block">
                                The Winds of Winter (Os Ventos do Inverno) é o sexto livro de As Crônicas de Gelo e Fogo, de George R. R. Martin.
                            </span>
                            <div class="cost mt-3 text-dark">
                                <span>R$ 350,52</span>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn-descricao descricao">SAIBA MAIS</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mt-3">
                    <div class="product-1 align-items-center p-2 text-center">
                        <img src="~/img/the-Winds-of-Winter-cover.jpg" class="rounded" width="160" />
                        <h5>The Winds of Winter</h5>
                        <div class="mt-3 info">
                            <span class="text1 d-block">
                                The Winds of Winter (Os Ventos do Inverno) é o sexto livro de As Crônicas de Gelo e Fogo, de George R. R. Martin.
                            </span>
                            <div class="cost mt-3 text-dark">
                                <span>R$ 350,52</span>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn-descricao descricao">SAIBA MAIS</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mt-3">
                    <div class="product-1 align-items-center p-2 text-center">
                        <img src="~/img/the-Winds-of-Winter-cover.jpg" class="rounded" width="160" />
                        <h5>The Winds of Winter</h5>
                        <div class="mt-3 info">
                            <span class="text1 d-block">
                                The Winds of Winter (Os Ventos do Inverno) é o sexto livro de As Crônicas de Gelo e Fogo, de George R. R. Martin.
                            </span>
                            <div class="cost mt-3 text-dark">
                                <span>R$ 350,52</span>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn-descricao descricao">SAIBA MAIS</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mt-3">
                    <div class="product-1 align-items-center p-2 text-center">
                        <img src="~/img/the-Winds-of-Winter-cover.jpg" class="rounded" width="160" />
                        <h5>The Winds of Winter</h5>
                        <div class="mt-3 info">
                            <span class="text1 d-block">
                                The Winds of Winter (Os Ventos do Inverno) é o sexto livro de As Crônicas de Gelo e Fogo, de George R. R. Martin.
                            </span>
                            <div class="cost mt-3 text-dark">
                                <span>R$ 350,52</span>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn-descricao descricao">SAIBA MAIS</button>
                </div>
            </div>

        </div>
    </div>
    <script>
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>
</div>

