
@{
    ViewData["Title"] = "Loja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/ListagemProdutos.css" />

<div class="conteudo">
    <div class="sidebar">
        <form>
            <div>Filtrar por</div>
            <ul class="loja" style="padding-left:10px">
                <li>
                    <div>Título:</div>
                    <div><input type="text"  /></div>
                </li>
                <li>
                    <div>Autor:</div>
                    <div><input type="text" /></div>
                </li>
                <li>
                    <div>Faixa de preço:</div>
                    <div>de <input type="number" class="smaller" /> a <input type="number" class="smaller" /></div>
                </li>
                <li>
                    <div>Período de lançamento</div>
                    <div>de <input type="date" class="smaller" /> a <input type="date" class="smaller" /></div>
                </li>
            </ul>
            <div style="text-align: center; width: 100%">
                <button type="submit" class="btn default">Buscar</button>
            </div>

        </form>
    </div>

    <div class="content">
        <ul class="loja">
            <li class="itemLoja">
                Teste
            </li>

            <li class="itemLoja">
                Teste 2
            </li>
            <li class="itemLoja">
                Teste 3
            </li>
            <li class="itemLoja">
                Teste 3
            </li>
            <li class="itemLoja">
                Teste 3
            </li>
            <li class="itemLoja">
                Teste 3
            </li>
            <li class="itemLoja">
                Teste 3
            </li>
            <li class="itemLoja">
                Teste 3
            </li>
            <li class="itemLoja">
                Teste 3
            </li>
            <li class="itemLoja">
                Teste 3
            </li>
            <li class="itemLoja">
                Teste 3
            </li>
            <li class="itemLoja">
                Teste 3
            </li>

        </ul>
    </div>
</div>