@model AdicionarNovoTelefoneModel
<div class="modal-content">

    <!-- Modal content-->
    <div class="modal-header">
        <h4 class="modal-title">Adicionar Novo Telefone</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <form asp-action="AdicionarNovoEndereco" asp-controller="Conta">

            <div hidden>
                <label asp-for="CodigoCliente" class="control-label"></label>
                <input asp-for="CodigoCliente" class="form-control required" readonly />
                <span asp-validation-for="CodigoCliente" class="text-danger required"></span>
            </div>

            <partial name="../PartialViews/_TelefonePartial.cshtml" for="@Model" />

            <div>
                <label asp-for="EPreferencial" class="control-label"></label>
                <input asp-for="EPreferencial" class="form-control required" />
                <span asp-validation-for="EPreferencial" class="text-danger required"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" id="btn" />
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    </div>

</div>
