@model InfoBaseModel

<div class="modal-content">

    <!-- Modal content-->
    <div class="modal-header">
        <h4 class="modal-title">Editar Informações Pessoais</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <form asp-action="EditarInfo" asp-controller="Conta" class="requiredForm">

            <div hidden>
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control required" readonly />
                <span asp-validation-for="Codigo" class="text-danger required"></span>
            </div>

            <partial name="../PartialViews/_InfoPessoaisPartial.cshtml" for="@Model" />

            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-primary" id="btn" />
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    </div>

</div>
