@model IList<DetalhesCartaoModel>

<div>
    <div class="row">
        @foreach (var card in Model)
        {
        <dl class="col-lg card">
            <partial name="../PartialViews/_DlCartoesPartial.cshtml" for="@card" />
            <dd>
                <button class="btn btn-secondary botaoCartao" type="button" data-toggle="modal" data-target="#myModal" value="@card.Id">
                    Editar este cartão.
                </button>
            </dd>
        </dl>
        }
    </div>
</div>