@model IList<DetalhesTelefoneModel>

    <div>
        <div class="row">
            <h2 class="font-weight-light col-sm-12">
                Telefones
            </h2>
        </div>
        <div class="row">
            @foreach (var tel in Model)
            {
                <div class="col-lg-6 my-1 card">
                    <partial name="../PartialViews/_DlTelefonePartial.cshtml" for="@tel" />
                    <dl>
                        <dd class="row justify-content-start mx-1">
                            <button class="btn btn-secondary botaoTelefone col-6 mr-3" type="button" data-toggle="modal" data-target="#myModal" value="@tel.Id">
                                Editar este telefone
                            </button>
                            @if (Model.Count > 1)
                            {
                                <button class="btn btn-danger botaoRemoverTelefone col-2  mx-3" type="button" data-toggle="modal" data-target="#myModal" value="@tel.Id">
                                    &times;
                                </button>
                            }

                            @if (!tel.EPreferencial)
                            {
                                <button class="btn btn-outline-warning col-2 ml-3" type="button" value="@tel.Id">
                                    &#9733;
                                </button>
                            }
                        </dd>
                    </dl>
                </div>
            }
        </div>
        
    </div>
