@model IList<DetalhesTelefoneModel>

    <div>
        <div class="row">
            <h2 class="font-weight-light col-sm-12">
                Telefones
            </h2>
        </div>
        <div class="row">
            @foreach (var tel in Model)
            {
            <dl class="col-lg card">
                <partial name="../PartialViews/_DlTelefonePartial.cshtml" for="@tel" />
                <dd>
                    <button class="btn btn-secondary botaoTelefone" type="button" data-toggle="modal" data-target="#myModal" value="@tel.Id">
                        Editar este telefone
                    </button>
                    <button class="btn btn-danger botaoRemoverTelefone" type="button" data-toggle="modal" data-target="#myModal" value="@tel.Id">
                        &times;
                    </button>
                </dd>
            </dl>
            }
        </div>
    </div>
