@model IList<PedidoModel>

@using LES.Models.Entity

<div class="row">
    <h2 class="font-weight-light col-sm-12">
        Histórico de Compras
    </h2>
</div>
@{ IDictionary<StatusPedidos, string[]> statusInfo = new Dictionary<StatusPedidos, string[]>();

    statusInfo[(StatusPedidos)0] = new string[] { "text-info", "Em processamento." };
    statusInfo[(StatusPedidos)1] = new string[] { statusInfo[(StatusPedidos)0][0], "Em trânsito..." };
    statusInfo[(StatusPedidos)2] = new string[] { "text-success", "Aprovado!" };
    statusInfo[(StatusPedidos)3] = new string[] { statusInfo[(StatusPedidos)2][0], "Entregue!" };
    statusInfo[(StatusPedidos)4] = new string[] { "text-danger", "Negado." };
}

<div class="container">

    <div id="accordion" class="row justify-content-center">
        @{ int i = 1;}
        @foreach (var pedido in Model)
        {
            string classeStatus = statusInfo[pedido.Status][0];

            string displayStatus = statusInfo[pedido.Status][1];

            <div class="col-sm-12 card">
                <div class="card-header btn-light btn-pedido" id="heading_@i">
                    <h5 class="mb-0">
                        <button class="btn col-12 btn-pedido shadow-none" data-toggle="collapse" data-target="#collapse_@i" aria-expanded="true" aria-controls="collapse_@i">
                            <div class="container">
                                <div class="row justify-content-between">
                                    <span class="col-sm-2">Pedido  #@pedido.Id</span>
                                    <span class="col-sm-10 text-right font-weight-light">
                                        <span class="@classeStatus">@displayStatus - </span>
                                        <span>Feito em @pedido.DtPedido.ToShortDateString()</span>
                                    </span>
                                </div>
                            </div>
                        </button>
                    </h5>

                </div>

                <div id="collapse_@i" class="collapse" aria-labelledby="heading_@i" data-parent="#accordion">
                    <div class="card-body">
                        <partial name="../PartialViews/_TablePedidos.cshtml" for="@pedido">
                    </div>
                </div>

            </div>

            i++;
        }

    </div>
</div>