@model IList<DetalhesEnderecoModel>


    <div>
        <div class="row">
            @foreach (var end in Model)
            {
                <dl class="col-lg card">
                    <partial name="../PartialViews/_DlEnderecoPartial.cshtml" for="@end" />
                    <dd>
                        <button class="btn btn-secondary botaoEndereco" type="button" data-toggle="modal" data-target="#myModal" value="@end.Id">
                            Editar este endereço
                        </button>
                    </dd>
                </dl>
            }
        </div>
    </div>