@model LES.Models.ViewModel.Shared.LivroBaseModel

<div class="modal-content">

    <!-- Modal content-->
    <div class="modal-header">
        <h4 class="modal-title">Realizar Troca</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <div>
            <div>
                <h5>
                    Tem certeza que deseja solicitar a troca desse livro?
                </h5>
            </div>

            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col" style="width:15%"></th>
                        <th scope="col">Título</th>
                        <th scope="col">Preço</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="~/img/the-Winds-of-Winter-cover.jpg" class="img-fluid img-thumbnail" style="max-height:16rem" /></td>
                        <td>@Model.Titulo</td>
                        <td>R$ @Model.Preco.ToString("0.00")</td>
                    </tr>
                </tbody>
            </table>

                <div class="form-group">
                    <button type="submit" value="@Model.CodigoBarras" class="btn btn-info col-12" id="btn" onclick="window.location.href='@Url.Action("RealizarTroca","Conta", Model.CodigoBarras)'">
                        Pedir troca
                    </button>
                </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    </div>

</div>
