USE [master]
GO
/****** Object:  Database [les]    Script Date: 26/04/2021 16:21:05 ******/
CREATE DATABASE [les]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'les', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\les.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'les_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\les_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [les].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [les]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ATIVACOES]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATIVACOES](
	[ati_id] [int] IDENTITY(1,1) NOT NULL,
	[ati_cta_id] [int] NOT NULL,
	[ati_liv_id] [int] NOT NULL,
	[ati_dt_cadastro] [datetime2](7) NOT NULL,
	[ati_inativo] [bit] NOT NULL,
 CONSTRAINT [PK_ATI] PRIMARY KEY CLUSTERED 
(
	[ati_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANDEIRAS_CARTAO_CREDITO]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANDEIRAS_CARTAO_CREDITO](
	[ban_id] [int] IDENTITY(1,1) NOT NULL,
	[ban_dt_cadastro] [datetime2](7) NOT NULL,
	[ban_inativo] [bit] NOT NULL,
	[ban_nome] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_BAN] PRIMARY KEY CLUSTERED 
(
	[ban_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARRINHOS]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRINHOS](
	[crr_id] [int] IDENTITY(1,1) NOT NULL,
	[crr_dt_timeout] [datetime2](7) NOT NULL,
	[crr_dt_cadastro] [datetime2](7) NOT NULL,
	[crr_inativo] [bit] NOT NULL,
 CONSTRAINT [PK_CRR] PRIMARY KEY CLUSTERED 
(
	[crr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARRINHOS_LIVROS]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARRINHOS_LIVROS](
	[crl_crr_id] [int] NOT NULL,
	[crl_liv_id] [int] NOT NULL,
	[crl_quantia] [int] NOT NULL,
 CONSTRAINT [PK_CRL] PRIMARY KEY CLUSTERED 
(
	[crl_crr_id] ASC,
	[crl_liv_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARTOES_CREDITO]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARTOES_CREDITO](
	[car_id] [int] IDENTITY(1,1) NOT NULL,
	[car_ban_id] [int] NOT NULL,
	[car_cli_id] [int] NOT NULL,
	[car_codigo] [nvarchar](max) NOT NULL,
	[car_cvv] [nvarchar](max) NOT NULL,
	[car_e_favorito] [bit] NOT NULL,
	[car_nome_impresso] [nvarchar](max) NOT NULL,
	[car_vencimento] [datetime2](7) NOT NULL,
	[car_dt_cadastro] [datetime2](7) NOT NULL,
	[car_inativo] [bit] NOT NULL,
 CONSTRAINT [PK_CAR] PRIMARY KEY CLUSTERED 
(
	[car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARTOES_PEDIDOS]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARTOES_PEDIDOS](
	[cap_car_id] [int] NOT NULL,
	[cap_ped_id] [int] NOT NULL,
	[cap_valor] [float] NOT NULL,
 CONSTRAINT [PK_CAP] PRIMARY KEY CLUSTERED 
(
	[cap_car_id] ASC,
	[cap_ped_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIAS_ATIVACAO]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS_ATIVACAO](
	[cta_id] [int] IDENTITY(1,1) NOT NULL,
	[cta_dt_cadastro] [datetime2](7) NOT NULL,
	[cta_inativo] [bit] NOT NULL,
	[cta_nome] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CTA] PRIMARY KEY CLUSTERED 
(
	[cta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIAS_INATIVACAO]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS_INATIVACAO](
	[cti_id] [int] IDENTITY(1,1) NOT NULL,
	[cti_dt_cadastro] [datetime2](7) NOT NULL,
	[cti_inativo] [bit] NOT NULL,
	[cti_nome] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CTI] PRIMARY KEY CLUSTERED 
(
	[cti_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIAS_LIVRO]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS_LIVRO](
	[ctl_id] [int] IDENTITY(1,1) NOT NULL,
	[ctl_dt_cadastro] [datetime2](7) NOT NULL,
	[ctl_inativo] [bit] NOT NULL,
	[ctl_nome] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CTL] PRIMARY KEY CLUSTERED 
(
	[ctl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CIDADES]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIDADES](
	[cid_id] [int] IDENTITY(1,1) NOT NULL,
	[cid_nome] [nvarchar](max) NOT NULL,
	[cid_pai_id] [int] NOT NULL,
	[cid_dt_cadastro] [datetime2](7) NOT NULL,
	[cid_inativo] [bit] NOT NULL,
 CONSTRAINT [PK_CID] PRIMARY KEY CLUSTERED 
(
	[cid_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[cli_id] [int] IDENTITY(1,1) NOT NULL,
	[cli_crr_id] [int] NOT NULL,
	[cli_codigo] [nvarchar](max) NOT NULL,
	[cli_cpf] [nvarchar](max) NOT NULL,
	[cli_dt_nascimento] [datetime2](7) NOT NULL,
	[Genero] [int] NOT NULL,
	[cli_nome] [nvarchar](max) NOT NULL,
	[cli_nota] [int] NOT NULL,
	[cli_usu_id] [int] NOT NULL,
	[cli_dt_cadastro] [datetime2](7) NOT NULL,
	[cli_inativo] [bit] NOT NULL,
 CONSTRAINT [PK_CLI] PRIMARY KEY CLUSTERED 
(
	[cli_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUPONS]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUPONS](
	[cup_id] [int] IDENTITY(1,1) NOT NULL,
	[cup_cli_id] [int] NOT NULL,
	[cup_codigo] [int] NOT NULL,
	[cup_valor] [float] NOT NULL,
	[cup_dt_cadastro] [datetime2](7) NOT NULL,
	[cup_inativo] [bit] NOT NULL,
 CONSTRAINT [PK_CUP] PRIMARY KEY CLUSTERED 
(
	[cup_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EDITORAS]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDITORAS](
	[edi_id] [int] IDENTITY(1,1) NOT NULL,
	[edi_dt_cadastro] [datetime2](7) NOT NULL,
	[edi_inativo] [bit] NOT NULL,
	[edi_nome] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_EDI] PRIMARY KEY CLUSTERED 
(
	[edi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENDERECOS]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENDERECOS](
	[end_id] [int] IDENTITY(1,1) NOT NULL,
	[end_cep] [nvarchar](max) NOT NULL,
	[end_cid_id] [int] NOT NULL,
	[end_cli_id] [int] NOT NULL,
	[end_complemento] [nvarchar](max) NOT NULL,
	[end_e_cobranca] [bit] NOT NULL,
	[end_e_entrega] [bit] NOT NULL,
	[end_e_favorito] [bit] NOT NULL,
	[end_e_residencia] [bit] NOT NULL,
	[end_logradouro] [nvarchar](max) NOT NULL,
	[end_nome_endereco] [nvarchar](max) NOT NULL,
	[end_numero] [nvarchar](max) NOT NULL,
	[end_observacoes] [nvarchar](max) NULL,
	[end_tpe_id] [int] NOT NULL,
	[end_dt_cadastro] [datetime2](7) NOT NULL,
	[end_inativo] [bit] NOT NULL,
 CONSTRAINT [PK_END] PRIMARY KEY CLUSTERED 
(
	[end_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOS]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOS](
	[est_id] [int] IDENTITY(1,1) NOT NULL,
	[est_nome] [nvarchar](max) NOT NULL,
	[est_pai_id] [int] NOT NULL,
	[est_dt_cadastro] [datetime2](7) NOT NULL,
	[est_inativo] [bit] NOT NULL,
 CONSTRAINT [PK_EST] PRIMARY KEY CLUSTERED 
(
	[est_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPO_PRECOS]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPO_PRECOS](
	[gpp_id] [int] IDENTITY(1,1) NOT NULL,
	[gpp_margem_lucro] [float] NOT NULL,
	[gpp_dt_cadastro] [datetime2](7) NOT NULL,
	[gpp_inativo] [bit] NOT NULL,
	[gpp_nome] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_GPP] PRIMARY KEY CLUSTERED 
(
	[gpp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INATIVACOES]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INATIVACOES](
	[ina_id] [int] IDENTITY(1,1) NOT NULL,
	[ina_cta_id] [int] NOT NULL,
	[ina_liv_id] [int] NOT NULL,
	[ina_dt_cadastro] [datetime2](7) NOT NULL,
	[ina_inativo] [bit] NOT NULL,
 CONSTRAINT [PK_INA] PRIMARY KEY CLUSTERED 
(
	[ina_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIVROS]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIVROS](
	[liv_id] [int] IDENTITY(1,1) NOT NULL,
	[liv_altura] [int] NOT NULL,
	[liv_autor] [nvarchar](max) NOT NULL,
	[liv_capa] [varbinary](max) NOT NULL,
	[liv_codigo_barras] [nvarchar](max) NOT NULL,
	[liv_comprimento] [int] NOT NULL,
	[liv_edi_id] [int] NOT NULL,
	[liv_estoque] [int] NOT NULL,
	[liv_gpp_id] [int] NOT NULL,
	[liv_isbn] [nvarchar](max) NOT NULL,
	[liv_largura] [int] NOT NULL,
	[liv_num_pag] [int] NOT NULL,
	[liv_peso] [float] NOT NULL,
	[liv_sinopse] [nvarchar](max) NOT NULL,
	[liv_valor] [float] NOT NULL,
	[liv_dt_cadastro] [datetime2](7) NOT NULL,
	[liv_inativo] [bit] NOT NULL,
	[liv_titulo] [nvarchar](max) NOT NULL,
	[liv_dt_lancamento] [datetime2](7) NOT NULL,
	[liv_edicao] [int] NOT NULL,
 CONSTRAINT [PK_LIV] PRIMARY KEY CLUSTERED 
(
	[liv_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIVROS_CATEGORIAS_LIVROS]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIVROS_CATEGORIAS_LIVROS](
	[lcl_ctl_id] [int] NOT NULL,
	[lcl_liv_id] [int] NOT NULL,
 CONSTRAINT [PK_LCL] PRIMARY KEY CLUSTERED 
(
	[lcl_liv_id] ASC,
	[lcl_ctl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIVROS_PEDIDOS]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIVROS_PEDIDOS](
	[lip_liv_id] [int] NOT NULL,
	[lip_ped_id] [int] NOT NULL,
	[lip_trocado] [bit] NOT NULL,
	[lip_quantia] [int] NOT NULL,
 CONSTRAINT [PK_LIP] PRIMARY KEY CLUSTERED 
(
	[lip_liv_id] ASC,
	[lip_ped_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAISES]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAISES](
	[pai_id] [int] IDENTITY(1,1) NOT NULL,
	[pai_nome] [nvarchar](max) NOT NULL,
	[pai_dt_cadastro] [datetime2](7) NOT NULL,
	[pai_inativo] [bit] NOT NULL,
 CONSTRAINT [PK_PAI] PRIMARY KEY CLUSTERED 
(
	[pai_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDOS]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[ped_id] [int] IDENTITY(1,1) NOT NULL,
	[ped_cli_id] [int] NOT NULL,
	[ped_cup_id] [int] NULL,
	[ped_status] [int] NOT NULL,
	[ped_dt_cadastro] [datetime2](7) NOT NULL,
	[ped_inativo] [bit] NOT NULL,
	[ped_end_id] [int] NOT NULL,
 CONSTRAINT [PK_PED] PRIMARY KEY CLUSTERED 
(
	[ped_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONES]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONES](
	[tel_id] [int] IDENTITY(1,1) NOT NULL,
	[tel_cli_id] [int] NOT NULL,
	[tel_ddd] [nvarchar](max) NOT NULL,
	[tel_e_favorito] [bit] NOT NULL,
	[tel_numero] [nvarchar](max) NOT NULL,
	[tel_tpd_id] [int] NOT NULL,
	[tel_dt_cadastro] [datetime2](7) NOT NULL,
	[tel_inativo] [bit] NOT NULL,
 CONSTRAINT [PK_TEL] PRIMARY KEY CLUSTERED 
(
	[tel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_ENDERECO]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_ENDERECO](
	[tpe_id] [int] IDENTITY(1,1) NOT NULL,
	[tpe_dt_cadastro] [datetime2](7) NOT NULL,
	[tpe_inativo] [bit] NOT NULL,
	[tpe_nome] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TPE] PRIMARY KEY CLUSTERED 
(
	[tpe_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_TELEFONES]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_TELEFONES](
	[tpt_id] [int] IDENTITY(1,1) NOT NULL,
	[tpt_dt_cadastro] [datetime2](7) NOT NULL,
	[tpt_inativo] [bit] NOT NULL,
	[tpt_nome] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TPT] PRIMARY KEY CLUSTERED 
(
	[tpt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 26/04/2021 16:21:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[usu_id] [int] IDENTITY(1,1) NOT NULL,
	[usu_email] [nvarchar](max) NOT NULL,
	[usu_senha] [nvarchar](max) NOT NULL,
	[usu_role] [int] NOT NULL,
	[usu_dt_cadastro] [datetime2](7) NOT NULL,
	[usu_inativo] [bit] NOT NULL,
 CONSTRAINT [PK_USU] PRIMARY KEY CLUSTERED 
(
	[usu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_ATIVACOES_ati_cta_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE NONCLUSTERED INDEX [IX_ATIVACOES_ati_cta_id] ON [dbo].[ATIVACOES]
(
	[ati_cta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ATIVACOES_ati_liv_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE NONCLUSTERED INDEX [IX_ATIVACOES_ati_liv_id] ON [dbo].[ATIVACOES]
(
	[ati_liv_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CARRINHOS_LIVROS_crl_liv_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE NONCLUSTERED INDEX [IX_CARRINHOS_LIVROS_crl_liv_id] ON [dbo].[CARRINHOS_LIVROS]
(
	[crl_liv_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CARTOES_CREDITO_car_ban_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE NONCLUSTERED INDEX [IX_CARTOES_CREDITO_car_ban_id] ON [dbo].[CARTOES_CREDITO]
(
	[car_ban_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CARTOES_CREDITO_car_cli_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE NONCLUSTERED INDEX [IX_CARTOES_CREDITO_car_cli_id] ON [dbo].[CARTOES_CREDITO]
(
	[car_cli_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CARTOES_PEDIDOS_cap_ped_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE NONCLUSTERED INDEX [IX_CARTOES_PEDIDOS_cap_ped_id] ON [dbo].[CARTOES_PEDIDOS]
(
	[cap_ped_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CIDADES_cid_pai_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE NONCLUSTERED INDEX [IX_CIDADES_cid_pai_id] ON [dbo].[CIDADES]
(
	[cid_pai_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CLIENTES_cli_crr_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CLIENTES_cli_crr_id] ON [dbo].[CLIENTES]
(
	[cli_crr_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CLIENTES_cli_usu_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CLIENTES_cli_usu_id] ON [dbo].[CLIENTES]
(
	[cli_usu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CUPONS_cup_cli_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE NONCLUSTERED INDEX [IX_CUPONS_cup_cli_id] ON [dbo].[CUPONS]
(
	[cup_cli_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ENDERECOS_end_cid_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE NONCLUSTERED INDEX [IX_ENDERECOS_end_cid_id] ON [dbo].[ENDERECOS]
(
	[end_cid_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ENDERECOS_end_cli_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE NONCLUSTERED INDEX [IX_ENDERECOS_end_cli_id] ON [dbo].[ENDERECOS]
(
	[end_cli_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ENDERECOS_end_tpe_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE NONCLUSTERED INDEX [IX_ENDERECOS_end_tpe_id] ON [dbo].[ENDERECOS]
(
	[end_tpe_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ESTADOS_est_pai_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE NONCLUSTERED INDEX [IX_ESTADOS_est_pai_id] ON [dbo].[ESTADOS]
(
	[est_pai_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_INATIVACOES_ina_cta_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE NONCLUSTERED INDEX [IX_INATIVACOES_ina_cta_id] ON [dbo].[INATIVACOES]
(
	[ina_cta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_INATIVACOES_ina_liv_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE NONCLUSTERED INDEX [IX_INATIVACOES_ina_liv_id] ON [dbo].[INATIVACOES]
(
	[ina_liv_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LIVROS_liv_edi_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE NONCLUSTERED INDEX [IX_LIVROS_liv_edi_id] ON [dbo].[LIVROS]
(
	[liv_edi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LIVROS_liv_gpp_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE NONCLUSTERED INDEX [IX_LIVROS_liv_gpp_id] ON [dbo].[LIVROS]
(
	[liv_gpp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LIVROS_CATEGORIAS_LIVROS_lcl_ctl_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE NONCLUSTERED INDEX [IX_LIVROS_CATEGORIAS_LIVROS_lcl_ctl_id] ON [dbo].[LIVROS_CATEGORIAS_LIVROS]
(
	[lcl_ctl_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LIVROS_PEDIDOS_lip_ped_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE NONCLUSTERED INDEX [IX_LIVROS_PEDIDOS_lip_ped_id] ON [dbo].[LIVROS_PEDIDOS]
(
	[lip_ped_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PEDIDOS_ped_cli_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE NONCLUSTERED INDEX [IX_PEDIDOS_ped_cli_id] ON [dbo].[PEDIDOS]
(
	[ped_cli_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PEDIDOS_ped_cup_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PEDIDOS_ped_cup_id] ON [dbo].[PEDIDOS]
(
	[ped_cup_id] ASC
)
WHERE ([ped_cup_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PEDIDOS_ped_end_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE NONCLUSTERED INDEX [IX_PEDIDOS_ped_end_id] ON [dbo].[PEDIDOS]
(
	[ped_end_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TELEFONES_tel_cli_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE NONCLUSTERED INDEX [IX_TELEFONES_tel_cli_id] ON [dbo].[TELEFONES]
(
	[tel_cli_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TELEFONES_tel_tpd_id]    Script Date: 26/04/2021 16:21:06 ******/
CREATE NONCLUSTERED INDEX [IX_TELEFONES_tel_tpd_id] ON [dbo].[TELEFONES]
(
	[tel_tpd_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CARRINHOS_LIVROS] ADD  DEFAULT ((0)) FOR [crl_quantia]
GO
ALTER TABLE [dbo].[LIVROS] ADD  DEFAULT (N'') FOR [liv_titulo]
GO
ALTER TABLE [dbo].[LIVROS] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [liv_dt_lancamento]
GO
ALTER TABLE [dbo].[LIVROS] ADD  DEFAULT ((0)) FOR [liv_edicao]
GO
ALTER TABLE [dbo].[LIVROS_PEDIDOS] ADD  DEFAULT ((0)) FOR [lip_quantia]
GO
ALTER TABLE [dbo].[PEDIDOS] ADD  DEFAULT ((0)) FOR [ped_end_id]
GO
ALTER TABLE [dbo].[ATIVACOES]  WITH CHECK ADD  CONSTRAINT [FK_ATI_CTA] FOREIGN KEY([ati_cta_id])
REFERENCES [dbo].[CATEGORIAS_ATIVACAO] ([cta_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ATIVACOES] CHECK CONSTRAINT [FK_ATI_CTA]
GO
ALTER TABLE [dbo].[ATIVACOES]  WITH CHECK ADD  CONSTRAINT [FK_ATI_LIV] FOREIGN KEY([ati_liv_id])
REFERENCES [dbo].[LIVROS] ([liv_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ATIVACOES] CHECK CONSTRAINT [FK_ATI_LIV]
GO
ALTER TABLE [dbo].[CARRINHOS_LIVROS]  WITH CHECK ADD  CONSTRAINT [FK_CRL_CRR] FOREIGN KEY([crl_crr_id])
REFERENCES [dbo].[CARRINHOS] ([crr_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CARRINHOS_LIVROS] CHECK CONSTRAINT [FK_CRL_CRR]
GO
ALTER TABLE [dbo].[CARRINHOS_LIVROS]  WITH CHECK ADD  CONSTRAINT [FK_CRL_LIV] FOREIGN KEY([crl_liv_id])
REFERENCES [dbo].[LIVROS] ([liv_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CARRINHOS_LIVROS] CHECK CONSTRAINT [FK_CRL_LIV]
GO
ALTER TABLE [dbo].[CARTOES_CREDITO]  WITH CHECK ADD  CONSTRAINT [FK_CAR_BAN] FOREIGN KEY([car_ban_id])
REFERENCES [dbo].[BANDEIRAS_CARTAO_CREDITO] ([ban_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CARTOES_CREDITO] CHECK CONSTRAINT [FK_CAR_BAN]
GO
ALTER TABLE [dbo].[CARTOES_CREDITO]  WITH CHECK ADD  CONSTRAINT [FK_CAR_CLI] FOREIGN KEY([car_cli_id])
REFERENCES [dbo].[CLIENTES] ([cli_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CARTOES_CREDITO] CHECK CONSTRAINT [FK_CAR_CLI]
GO
ALTER TABLE [dbo].[CARTOES_PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_CAP_CAR] FOREIGN KEY([cap_car_id])
REFERENCES [dbo].[CARTOES_CREDITO] ([car_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CARTOES_PEDIDOS] CHECK CONSTRAINT [FK_CAP_CAR]
GO
ALTER TABLE [dbo].[CARTOES_PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_CAP_PED] FOREIGN KEY([cap_ped_id])
REFERENCES [dbo].[PEDIDOS] ([ped_id])
GO
ALTER TABLE [dbo].[CARTOES_PEDIDOS] CHECK CONSTRAINT [FK_CAP_PED]
GO
ALTER TABLE [dbo].[CIDADES]  WITH CHECK ADD  CONSTRAINT [FK_CID_EST] FOREIGN KEY([cid_pai_id])
REFERENCES [dbo].[ESTADOS] ([est_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CIDADES] CHECK CONSTRAINT [FK_CID_EST]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CLI_CRR] FOREIGN KEY([cli_crr_id])
REFERENCES [dbo].[CARRINHOS] ([crr_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_CLI_CRR]
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD  CONSTRAINT [FK_CLI_USU] FOREIGN KEY([cli_usu_id])
REFERENCES [dbo].[USUARIOS] ([usu_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CLIENTES] CHECK CONSTRAINT [FK_CLI_USU]
GO
ALTER TABLE [dbo].[CUPONS]  WITH CHECK ADD  CONSTRAINT [FK_CUP_CLI] FOREIGN KEY([cup_cli_id])
REFERENCES [dbo].[CLIENTES] ([cli_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CUPONS] CHECK CONSTRAINT [FK_CUP_CLI]
GO
ALTER TABLE [dbo].[ENDERECOS]  WITH CHECK ADD  CONSTRAINT [FK_END_CID] FOREIGN KEY([end_cid_id])
REFERENCES [dbo].[CIDADES] ([cid_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ENDERECOS] CHECK CONSTRAINT [FK_END_CID]
GO
ALTER TABLE [dbo].[ENDERECOS]  WITH CHECK ADD  CONSTRAINT [FK_END_CLI] FOREIGN KEY([end_cli_id])
REFERENCES [dbo].[CLIENTES] ([cli_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ENDERECOS] CHECK CONSTRAINT [FK_END_CLI]
GO
ALTER TABLE [dbo].[ENDERECOS]  WITH CHECK ADD  CONSTRAINT [FK_END_TPE] FOREIGN KEY([end_tpe_id])
REFERENCES [dbo].[TIPOS_ENDERECO] ([tpe_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ENDERECOS] CHECK CONSTRAINT [FK_END_TPE]
GO
ALTER TABLE [dbo].[ESTADOS]  WITH CHECK ADD  CONSTRAINT [FK_EST_PAI] FOREIGN KEY([est_pai_id])
REFERENCES [dbo].[PAISES] ([pai_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ESTADOS] CHECK CONSTRAINT [FK_EST_PAI]
GO
ALTER TABLE [dbo].[INATIVACOES]  WITH CHECK ADD  CONSTRAINT [FK_INA_CTA] FOREIGN KEY([ina_cta_id])
REFERENCES [dbo].[CATEGORIAS_INATIVACAO] ([cti_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[INATIVACOES] CHECK CONSTRAINT [FK_INA_CTA]
GO
ALTER TABLE [dbo].[INATIVACOES]  WITH CHECK ADD  CONSTRAINT [FK_INA_LIV] FOREIGN KEY([ina_liv_id])
REFERENCES [dbo].[LIVROS] ([liv_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[INATIVACOES] CHECK CONSTRAINT [FK_INA_LIV]
GO
ALTER TABLE [dbo].[LIVROS]  WITH CHECK ADD  CONSTRAINT [FK_LIV_EDI] FOREIGN KEY([liv_edi_id])
REFERENCES [dbo].[EDITORAS] ([edi_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LIVROS] CHECK CONSTRAINT [FK_LIV_EDI]
GO
ALTER TABLE [dbo].[LIVROS]  WITH CHECK ADD  CONSTRAINT [FK_LIV_GPP] FOREIGN KEY([liv_gpp_id])
REFERENCES [dbo].[GRUPO_PRECOS] ([gpp_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LIVROS] CHECK CONSTRAINT [FK_LIV_GPP]
GO
ALTER TABLE [dbo].[LIVROS_CATEGORIAS_LIVROS]  WITH CHECK ADD  CONSTRAINT [FK_LCL_CTL] FOREIGN KEY([lcl_ctl_id])
REFERENCES [dbo].[CATEGORIAS_LIVRO] ([ctl_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LIVROS_CATEGORIAS_LIVROS] CHECK CONSTRAINT [FK_LCL_CTL]
GO
ALTER TABLE [dbo].[LIVROS_CATEGORIAS_LIVROS]  WITH CHECK ADD  CONSTRAINT [FK_LCL_LIV] FOREIGN KEY([lcl_liv_id])
REFERENCES [dbo].[LIVROS] ([liv_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LIVROS_CATEGORIAS_LIVROS] CHECK CONSTRAINT [FK_LCL_LIV]
GO
ALTER TABLE [dbo].[LIVROS_PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_LIP_LIV] FOREIGN KEY([lip_liv_id])
REFERENCES [dbo].[LIVROS] ([liv_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LIVROS_PEDIDOS] CHECK CONSTRAINT [FK_LIP_LIV]
GO
ALTER TABLE [dbo].[LIVROS_PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_LIP_PED] FOREIGN KEY([lip_ped_id])
REFERENCES [dbo].[PEDIDOS] ([ped_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LIVROS_PEDIDOS] CHECK CONSTRAINT [FK_LIP_PED]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PED_CLI] FOREIGN KEY([ped_cli_id])
REFERENCES [dbo].[CLIENTES] ([cli_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PED_CLI]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PED_CUP] FOREIGN KEY([ped_cup_id])
REFERENCES [dbo].[CUPONS] ([cup_id])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PED_CUP]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PED_END] FOREIGN KEY([ped_end_id])
REFERENCES [dbo].[ENDERECOS] ([end_id])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PED_END]
GO
ALTER TABLE [dbo].[TELEFONES]  WITH CHECK ADD  CONSTRAINT [FK_TEL_CLI] FOREIGN KEY([tel_cli_id])
REFERENCES [dbo].[CLIENTES] ([cli_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TELEFONES] CHECK CONSTRAINT [FK_TEL_CLI]
GO
ALTER TABLE [dbo].[TELEFONES]  WITH CHECK ADD  CONSTRAINT [FK_TEL_TPT] FOREIGN KEY([tel_tpd_id])
REFERENCES [dbo].[TIPOS_TELEFONES] ([tpt_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TELEFONES] CHECK CONSTRAINT [FK_TEL_TPT]
GO
USE [master]
GO
