.secaoForm {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
    border-style: solid;
    border-color: lightgrey;
    border-radius: 10px;
}

.endereco{
    border-left-style:solid;
    border-left-color:lightblue;

    padding-left: 2%;
}

.logradouro {
    width: 65%;
    float:left;
    margin-right:10%;
}

.numero {
    width: 25%;
    float: right;
}

.cidadeCepEstado {
    width: 30%;
    float: left;
    margin-right: 3%;
}

.estado {
    width: 30%;
    float: right;
}

.btn {
    margin-top:30px;
}

.btn-add {
    background-color: #afcfef;
    width: 100%;
}

