@model PedidoModel

@using LES.Models.Entity

   @{double precoTotal = 0;}

<table class="table table-striped table-hover table-sm ">
    <thead>
        <tr>
            <th scope="col">Livro</th>
            <th scope="col">Preço</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Livros.Count > 0)
        {
            @foreach (var entry in Model.Livros)
            {
                var livro = entry.Value;
                precoTotal += livro.Preco;
                <tr>
                    <td>@livro.Titulo</td>
                    <td>@livro.Preco</td>
                </tr>
            }
            <tr>
                <td>Nº de livros: @Model.Livros.Count</td>
                <td>Preço total: R$@precoTotal</td>
                <td></td>
            </tr>
        }

    </tbody>

</table>
