@model LES.Models.ViewModel.Admin.AdminGrupoPrecoModel

@{ string operacao = ViewBag.Operacao == "add" ? "Adicionar" : "Editar"; }

<div class="modal-content">
    <!-- Modal content-->
    <div class="modal-header">
        <h4 class="modal-title">@operacao Livro</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        @if (ViewBag.Operacao == "add")
        {
            <form asp-action="AdicionarCategoria" asp-controller="Admin">
                <div class="container">

                    <div class="row my-2">
                        <div class="col-sm-6">
                            <label asp-for="Nome" class="font-weight-light"></label>
                            <input asp-for="Nome" class="form-control required" />
                            <span asp-validation-for="Nome" class="text-danger required"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="MargemLucro" class="font-weight-light"></label>
                            <input asp-for="MargemLucro" class="form-control required" />
                            <span asp-validation-for="MargemLucro" class="text-danger required"></span>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">@operacao</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                </div>
            </form>
        }
        else if (ViewBag.Operacao == "edit")
        {
            <form asp-action="EditarLivro" asp-controller="Admin">
                <div class="container">

                    <div hidden style="display:none">
                        <input asp-for="Id" class="form-control required" readonly />
                    </div>

                    <div class="row my-2">
                        <div class="col-sm-6">
                            <label asp-for="Nome" class="font-weight-light"></label>
                            <input asp-for="Nome" class="form-control required" />
                            <span asp-validation-for="Nome" class="text-danger required"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="MargemLucro" class="font-weight-light"></label>
                            <input asp-for="MargemLucro" class="form-control required" />
                            <span asp-validation-for="MargemLucro" class="text-danger required"></span>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">@operacao</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
                </div>
            </form>
        }
    </div>
</div>
