@model PedidoModel

@using LES.Models.Entity

   @{ bool elegivelTroca = (Model.Status <= (StatusPedidos)6 && Model.Status >= (StatusPedidos)5);
       float precoTotal = 0;}

<table class="table table-striped table-hover table-sm ">
    <thead>
        <tr>
            <th scope="col">Livro</th>
            <th scope="col">Preço</th>
            <th scope="col">Troca</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Livros.Count > 0)
        {
            @foreach (var livro in Model.Livros)
            {
                precoTotal += livro.Preco;
                <tr>
                    <td>@livro.Titulo</td>
                    <td>@livro.Preco</td>
                    <td>
                        @if (elegivelTroca)
                        {
                            <button class="btn btn-info btnTroca" value="@livro.Codigo" data-toggle="modal" data-target="#myModal">Solicitar</button>
                        }
                        else
                        {
                            <p>Não é elegível para troca.</p>
                        }
                    </td>
                </tr>
            }
            <tr>
                <td>Nº de livros: @Model.Livros.Count</td>
                <td>Preço total: R$@precoTotal</td>
                <td></td>
            </tr>
        }

    </tbody>

</table>
