@model IList<CupomModel>
@if (Model.Count > 0)
{
    @foreach (var cupom in Model)
    {
        <div class="col-1"></div>
        <div class="col-10 text-center my-1">Cupom #@cupom.Codigo: R$ -@cupom.Valor.ToString("0.00").Replace('.', ',')</div>
        <button class="btn btn-danger botaoRemoverCupom col-1 my-1" value="@cupom.Codigo">
            &times;
        </button>
    }
}
else { 
    <div class="col-12">
        <h4 class="font-weight-light">Não há cupons adicionados à sua compra.</h4>
    </div>
}
