@model LES.Models.ViewModel.Admin.PaginaClientesModel

@{
    ViewData["Title"] = "Clientes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row justify-content-center"><h1 class="col-12 text-center">Base de Clientes Cadastrados</h1></div>
<div class="row">
    <div class="col-12 mb-3 border-bottom" id="divTabela">
        <partial name="../Admin/PartialViews/_TabelaClientesPartial.cshtml" for="@Model">
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">

</div>


@section Scripts
{

    <script type="text/javascript">

        var urls = urls || {};
        urls.BuscarClientes = '@Url.Action("_ClientesBusca", "Admin")';
        urls.InativarReativarCliente = '@Url.Action("_InativarReativarClientePartial", "Admin")';
        urls.VisualizarCliente = '@Url.Action("_VisualizarClientePartial", "Admin")';

    </script>
    <script src="~/js/Admin/CarregadorPartialViewClientes.js"></script>
    <script src="~/js/Admin/CarregarBuscaClientes.js"></script>
    <script src="~/js/Conta/Tabs.js"></script>
}