
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
    <div class="row justify-content-center">
        <h3 class="col-sm-4 text-center">Home</h3>
    </div>
    <div class="row">
        <div id="sidebar" class="col-md-12 mb-5" style="height:3rem; top:10%">
            <div>
                <button class="btn btn-light tablink" onclick="desenhaMaisVendidos()" style="width:100%">Livros Mais Vendidos</button>
            </div>
            <div>
                <button class="btn btn-light tablink" onclick="desenhaVendas3Meses()" style="width:100%">Categorias</button>
            </div>
        </div>
    </div>
    <div class="row chart-container">
        <canvas id="myChart" class="col-sm-12" style="max-height:600px"></canvas>
    </div>

@section Scripts{

    <script src="~/lib/Chart.js-2.9.4/dist/Chart.js"></script>
    
    <script type="text/javascript">
        var urls = urls || {};

        urls.MaisVendidos = '@Url.Action("_MaisVendidosMesJson", "Admin")';
        urls.VendasPorMes = '@Url.Action("_VendasMesJson", "Admin")';

    </script>
    <!--<script src="~/js/Admin/CarregadorChartHome.js"></script>-->

 }

