@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/Shared/Carrinho.css" />
<div class="container justify-content-center">
    <div class="row mt-3 justify-content-center">
        <div class="col-1 back-color1 d-flex align-content-center flex-wrap border-bottom border-top">
            <span class="text1">1</span>
        </div>
        <div class="col-1 back-color1 d-flex align-content-center flex-wrap border-bottom border-top">
            <img src="~/img/winds_of_winter_but_tiny.jpeg" class="img-config" />
        </div>
        <div class="col-5 back-color1 d-flex align-content-center flex-wrap border-bottom border-top">
            <span>
                The Winds of Winter
            </span>
        </div>
        <div class="col-1 d-flex align-content-center flex-wrap border-bottom border-top">
            <input type="number" class="form-control" />
        </div>
        <div class="col-1 d-flex align-content-center flex-wrap border-bottom border-top">
            <button type="button" class="btn-remover">Remover</button>
        </div>
    </div>
    <div class="row mt-3 justify-content-center">
        <div class="col-1 back-color1 d-flex align-content-center flex-wrap border-bottom border-top">
            <span class="text1">2</span>
        </div>
        <div class="col-1 back-color1 d-flex align-content-center flex-wrap border-bottom border-top">
            <img src="~/img/senhor.jpg" class="img-config" />
        </div>
        <div class="col-5 back-color1 d-flex align-content-center flex-wrap border-bottom border-top">
            <span>
                O Senhor dos Anéis: A Sociedade do Anel
            </span>
        </div>
        <div class="col-1 d-flex align-content-center flex-wrap border-bottom border-top">
            <input type="number" class="form-control" />
        </div>
        <div class="col-1 d-flex align-content-center flex-wrap border-bottom border-top">
            <button type="button" class="btn-remover">Remover</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-3 justify-content-center">
        <div class="col">
            <button type="button" class="btn-remover" onclick="window.location.href='@Url.Action("EscolheEndereco","Carrinho")'">CONFIRMAR COMPRA</button>
        </div>
    </div>
</div>