@page
@model LES.Views.Carrinho.EscolheEnderecoModel
@{
}
<div class="container no-overflow">
    <div class="row">
        <div>
            <div class="row">
                <h2 class="font-weight-light col-sm-12">
                    Endereços
                </h2>
            </div>
            <div class="row">
                <div class="col-lg-6 card">
                    <dl class="row">
                        <dt class="col-12">
                            Nome do endereço (ex: casa, trabalho, etc...)
                        </dt>
                        <dd class="col-12">
                            Endereço de entrega
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-12">
                            Tipo de endereço
                        </dt>
                        <dd class="col-12">
                            Casa
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-9">
                            Logradouro
                        </dt>
                        <dt class="col-3">
                            Nº
                        </dt>
                        <dd class="col-9">
                            Rua Carlos Barattino Vila Nova
                        </dd>
                        <dd class="col-3">
                            230
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-6">
                            Logradouro
                        </dt>
                        <dt class="col-6">
                            CEP
                        </dt>
                        <dd class="col-6">
                            Vila Mogilar
                        </dd>
                        <dd class="col-6">
                            08773-600
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-4">
                            Cidade
                        </dt>
                        <dt class="col-4">
                            Estado
                        </dt>
                        <dt class="col-4">
                            Pais
                        </dt>
                        <dd class="col-4">
                            Mogi das Cruzes
                        </dd>
                        <dd class="col-4">
                            SP
                        </dd>
                        <dd class="col-4">
                            Brasil
                        </dd>
                    </dl>
                    <div class="row">
                        <div class="col-lg-6">
                            <dl>
                                <dd>
                                    <button class="btn btn-secondary botaoEndereco" type="button" onclick="window.location.href='@Url.Action("EscolhePagamento","Carrinho")'">
                                        
                                        Escolher este endereço
                                    </button>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 card">
                    <dl class="row">
                        <dt class="col-12">
                            Nome do endereço (ex: casa, trabalho, etc...)
                        </dt>
                        <dd class="col-12">
                            Endereço de entrega
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-12">
                            Tipo de endereço
                        </dt>
                        <dd class="col-12">
                            Casa
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-9">
                            Logradouro
                        </dt>
                        <dt class="col-3">
                            Nº
                        </dt>
                        <dd class="col-9">
                            Rua Carlos Barattino Vila Nova
                        </dd>
                        <dd class="col-3">
                            230
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-6">
                            Logradouro
                        </dt>
                        <dt class="col-6">
                            CEP
                        </dt>
                        <dd class="col-6">
                            Vila Mogilar
                        </dd>
                        <dd class="col-6">
                            08773-600
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-4">
                            Cidade
                        </dt>
                        <dt class="col-4">
                            Estado
                        </dt>
                        <dt class="col-4">
                            Pais
                        </dt>
                        <dd class="col-4">
                            Mogi das Cruzes
                        </dd>
                        <dd class="col-4">
                            SP
                        </dd>
                        <dd class="col-4">
                            Brasil
                        </dd>
                    </dl>
                    <div class="row">
                        <div class="col-lg-6">
                            <dl>
                                <dd>
                                    <button class="btn btn-secondary botaoEndereco" type="button" onclick="window.location.href='@Url.Action("EscolhePagamento","Carrinho")'">
                                        
                                        Escolher este endereço
                                    </button>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
