@page
@model LES.Views.Carrinho.IndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/Shared/Carrinho.css" />
<div class="container no-overflow">
    <div class="row">
        <h2 class="font-weight-light col-sm-12">
            Endereços
        </h2>
    </div>
    <div class="row justify-content-center">
        <div>
            <dl class="col-lg card">
                <dt>
                    Nome Impresso no Cartão
                </dt>
                <dd>
                    KEVIN MANMAR
                </dd>
                <dt>
                    Bandeira do cartão
                </dt>
                <dd>
                    VISA
                </dd>
                <dt>
                    Código
                </dt>
                <dt>
                    1234-****-****-****
                </dt>
                <div class="row">
                    <div class="col-lg">
                        <dl>
                            <dd>
                                <button class="btn btn-secondary botaoEndereco" type="button">
                                    Escolher este cartão.
                                </button>
                            </dd>
                        </dl>
                    </div>
                </div>
            </dl>
        </div>
        <div>
            <dl class="col-lg card">
                <dt>
                    Nome Impresso no Cartão
                </dt>
                <dd>
                    KEVIN MANMAR
                </dd>
                <dt>
                    Bandeira do cartão
                </dt>
                <dd>
                    VISA
                </dd>
                <dt>
                    Código
                </dt>
                <dt>
                    1234-****-****-****
                </dt>
                <div class="row">
                    <div class="col-lg">
                        <dl>
                            <dd>
                                <button class="btn btn-secondary botaoEndereco" type="button">
                                    Escolher este cartão.
                                </button>
                            </dd>
                        </dl>
                    </div>
                </div>
            </dl>
        </div>
    </div>
</div>
