@model LES.Models.ViewModel.Conta.DetalhesModel


@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Shared/Sidebar.css" rel="stylesheet" />

<div id="conteudo">
    <div class="sidebar">
        <div>
            <button class="btn btn-success tablink" onclick="changeTab(event, 'Info')" style="width:100%">Informações</button>
        </div>
        <div>
            <button class="btn btn-light tablink" onclick="changeTab(event, 'Telefone')" style="width:100%">Telefones</button>
        </div>
        <div>
            <button class="btn btn-light tablink" onclick="changeTab(event, 'Endereco')" style="width:100%">Endereços</button>
        </div>
        <div>
            <button class="btn btn-light tablink" onclick="changeTab(event, 'Cartao')" style="width:100%">Cartões de Crédito</button>
        </div>
    </div>
    <div class="col-md-5" style="margin-left:20%">
        <h1>Minha conta</h1>
        <div id="Info" class="tab">
            <partial name="../Conta/PartialViews/_DlInfoPessoais.cshtml" for="InfoUsuario" />
        </div>
        <div id="Telefone" class="tab" style="display:none">
            <partial name="../Conta/PartialViews/_ListaTelefonesPartial.cshtml" for="Telefones" />
            <a id="addNovoTelefoneLink" href="#myModal" data-toggle="modal" data-target="#myModal">Adicionar Telefone</a>
        </div>
        <div id="Endereco" class="tab" style="display:none">
            <partial name="../Conta/PartialViews/_ListaEnderecosPartial.cshtml" for="Enderecos" />
            <a id="addNovoEnderecoLink" href="#myModal" data-toggle="modal" data-target="#myModal">Adicionar Endereço</a>
        </div>
        <div id="Cartao" class="tab" style="display:none">
            <partial name="../Conta/PartialViews/_ListaCartoesPartial.cshtml" for="Cartoes" />
            <a id="addNovoCartaoLink" href="#myModal" data-toggle="modal" data-target="#myModal">Adicionar Cartão de Crédito</a>
        </div>
    </div>

</div>

<div id="myModal" class="modal fade" role="dialog">

</div>

@section Scripts{

    <script type="text/javascript">
        var urls = urls || {};
        urls.novoEndereco = '@Url.Action("_AdicionarNovoEnderecoPartial", "Conta", Model.InfoUsuario.Codigo)';
        urls.novoTelefone = '@Url.Action("_AdicionarNovoTelefonePartial", "Conta", Model.InfoUsuario.Codigo)';
        urls.novoCartao = '@Url.Action("_AdicionarNovoCartaoPartial", "Conta", Model.InfoUsuario.Codigo)';

    </script>
    <script src="~/js/Conta/CarregadorPartialViewsDetalhes.js"></script>
    <script src="~/js/Conta/Tabs.js"></script>

}
